body {
    background-color: #e9eef2;
}

.design {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 180px;
}

.bloc-design {
    width: 1200px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}

section {
    width: 850px;
    padding-bottom: 100px;
    margin-bottom: 50px;
    border-radius: 8px;
    background-color: #fff;
}

aside {
    width: 330px;
    display: flex;
    flex-direction: column;
}

.aside-bloc {
    width: 330px;
    padding: 15px;
    margin-bottom: 50px;
    border-radius: 5px;
    background-color: #fff;
}

.aside-bloc h5 {
    font-size: 24px;
    color: #b22e2e;
}

.aside-bloc ul {
    margin-top: 20px;
}

.aside-bloc ul li {
    border-bottom: 1px solid rgba(0,0,0,0.1);
    padding: 10px 0 10px 10px;
}

.aside-bloc ul li a {
    font-size: 18px;
    font-weight: 500;
}

@media (max-width: 1215px) {
    .bloc-design {
        width: 100%;
        flex-direction: column;
        align-items: center;
    }

    aside {
        width: 850px;
        flex-direction: row;
        justify-content: space-between;
        margin-top: 20px;
    }

    .aside-bloc {
        width: 32%;
    }
}

@media (max-width: 900px) {
    .design {
        padding: 20px;
    }

    section, aside {
        width: 100%;
    }
}

@media (max-width: 600px) {
    aside {
        flex-wrap: wrap;
    }

    .aside-bloc {
        width: 48%;
    }
}

@media (max-width: 460px) {
    .aside-bloc {
        width: 100%;
    }
}