.old h4 {
    font-size: 35px;
    color: #c31111;
    text-align: center;
    margin-bottom: 10px;
}

.old h5 {
    font-size: 20px;
    text-align: center;
    margin-bottom: 30px;
    font-weight: 300;
}

.old div {
    margin: 10px 0;
}

.old button {
    font-size: 20px;
    border: none;
    text-decoration: none;
    background: none;
    padding: 10px;
    cursor: pointer;
    margin: 5px 0;
}

.old a {
    font-size: 18px;
    transition: 0.2s linear;
    text-transform: uppercase;
}

.old a:focus,
.old a:hover {
    font-weight: 600;
    text-decoration: underline;
    transform: scale(1.1);
}

.add-btn {
    margin-top: 50px;
    text-align: center;
}

.add-btn a {
    font-size: 18px;
    text-decoration: underline;
    padding: 8px 15px;
    font-weight: 600;
    border-radius: 5px;
}

@media (max-width: 500px) {
    .old h4 {
        font-size: 24px;
    }

    .old h5 {
        font-size: 16px;
    }

    .old a {
        font-size: 16px;
    }

    .add-btn a {
        font-size: 16px;
    }
}