.old h4 {
    font-size: 35px;
    color: #c31111;
    text-align: center;
    margin-bottom: 30px;
}

.old div {
    margin-top: 10px;
}

.old a {
    font-size: 18px;
    transition: 0.2s linear;
    text-transform: uppercase;
}

.old a:focus,
.old a:hover {
    font-weight: 600;
    text-decoration: underline;
    transform: scale(1.1);
}

@media (max-width: 500px) {
    .old h4 {
        font-size: 24px;
    }

    .old h5 {
        font-size: 20px;
    }

    .old a {
        font-size: 14px;
    }
}